<div class="mt-4">
    <form method="post">
      <div class="col-auto">
        <label for="search-input" class="visually-hidden">Search:</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="search here">
      </div>
      <div class="col-auto">
        <label for="gender-input" class="visually-hidden">Search:</label>
        <select name="gender" class="form-control" id="gender-input">
          <option value="">-- Gender --</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </div>
    </form>
</div>